@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.navLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0% 0% 0% 2%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 50px;
}
.navbar h1 {
  margin: 0;
  font-family: "Abel", sans-serif;
  font-weight: 100;
}
.navbar nav ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar nav ul li {
  width: 150px;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans;
  font-weight: 200;
}
.navbar nav ul li li:hover {
  background-color: rgba(0, 0, 0, 0.3725490196);
}
.navbar nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.dropdown, .dropdownTwo {
  position: relative;
  display: inline-block;
  border-left: 1px solid black;
  height: 100%;
  width: 100%;
}

.dropdown-content, .dropdown-content-two {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 150px;
  height: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -1px;
  border: 1px solid black;
  border-top: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dropdown-content a, .dropdown-content-two a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans;
  font-size: 20px;
  border-top: 1px solid black;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}
.dropdown-content a:hover, .dropdown-content-two a:hover {
  background-color: rgba(0, 0, 0, 0.3725490196);
}
.dropdown-content li, .dropdown-content-two li {
  height: 100%;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: flex;
  -webkit-animation: 0.5s fadeIn;
          animation: 0.5s fadeIn;
}

.dropdownTwo:hover .dropdown-content-two {
  display: flex;
  -webkit-animation: 0.5s fadeIn;
          animation: 0.5s fadeIn;
}

.dropdown:hover, .dropdownTwo:hover {
  background-color: rgba(0, 0, 0, 0.3725490196);
}

@-webkit-keyframes slideBottom {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: 0.5s fadeIn;
          animation: 0.5s fadeIn;
}

.slideUp {
  -webkit-animation: 0.5s slideBottom;
          animation: 0.5s slideBottom;
}

.slideRight {
  -webkit-animation: 1s slideRight;
          animation: 1s slideRight;
}

.slideLeft {
  -webkit-animation: 1s slideLeft;
          animation: 1s slideLeft;
}

.bgImageContent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  -webkit-animation: 1s slideBottom, 1s fadeIn;
          animation: 1s slideBottom, 1s fadeIn;
}

.bgImage {
  background-image: url("/assets/img/laptop.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  box-shadow: 0 5px 10px rgba(106, 106, 106, 0.4);
  background-color: rgba(128, 128, 128, 0.2588235294);
}
.bgImage h2 {
  margin: 0;
  color: black;
  font-size: 70px;
  font-weight: 200;
  width: 50%;
}

.bgButton {
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgButton .btnText {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans;
  font-weight: 100;
  border-right: 1px solid black;
  font-size: 20px;
}
.bgButton .btnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
}
.bgButton img {
  height: 50px;
}

.mainContainer {
  margin-top: 5%;
}
.mainContainer img {
  width: 500px;
}

.categoryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoryContainer h2 {
  font-size: 50px;
  font-weight: 200;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
}

.categoryContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5%;
}
.categoryContent figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoryContent h3 {
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
  width: 60%;
}
.categoryContent img {
  box-shadow: 0 5px 10px rgba(106, 106, 106, 0.4);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 500px;
  width: 600px;
  transition: 0.4s;
  border: 1px solid rgba(0, 0, 0, 0.1803921569);
}
.categoryContent img:hover {
  scale: 103%;
}

p, a {
  font-family: "Roboto Condensed", sans;
}

h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

main {
  height: 100vh;
}/*# sourceMappingURL=main.css.map */